<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html">
  <title>View All Stores</title>
</head>
<body>
<div th:insert="fragments/header.html"/>
<table>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Post Code</td>
  </tr>
  <tr th:each="store: ${stores}">
    <td th:text="${store.getId()}"></td>
    <td th:text="${store.getName()}"></td>
    <td th:text="${store.getPostCode()}"></td>
    <td>
      <a th:href="@{'/api/stores/'+ ${store.getId()}}">View</a>
    </td>
  </tr>
</table>
</body>
</html>